@import "tailwindcss";

@layer components {
  .input-dark {
    @apply w-full px-4 py-3 rounded-lg
    bg-[#0F0F0F] border border-[#2A2A2A]
    text-[#EDEDED] placeholder-[#8A8A8A]
    focus:outline-none focus:border-[#2563EB];
  }
}
.editor-input {
  background: #0a0a0a;
  border: 1px solid #222;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  color: white;
}

.editor-textarea {
  background: #0a0a0a;
  border: 1px solid #222;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  color: white;
}

.editor-btn {
  background: #2563EB;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
